@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Libre+Barcode+39+Extended+Text&family=Open+Sans&family=Poppins&family=Roboto&display=swap');

:root {
    --main-color: #f1f1f1;
    --bs-dark: #212529;
    --bs-dark-grey: #353738;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgrey;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h2, h3, h4 {
    letter-spacing: .3rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 30px;
}

p{
    font-size: 1rem;
    padding: 0 10px;
}

.navbar {
    background-color: var(--bs-dark);
    height: 48px;
    padding: 10px 15px;
    color: white;
    position: relative;
    transition: 250ms;
}

.github-container {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.github-logo {
    width: 35px;
    height: 30px;
}

.github-username {
    font-size: .9rem;
    padding: 0;
    margin: 0;
}

.checkbox, .icons {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

.icons {
    pointer-events: none;
    font-size: 24px;
}

.checkbox {
    opacity: 0;
}

.fi-sr-cross {
    display: none;
}

.checkbox:checked ~ .fi-rr-menu-burger {
    display: none;
}

.checkbox:checked ~ .fi-sr-cross {
    display: block;
}

.menu {
    width: 200px;
    padding-left: 0;
    margin-bottom: 0;
    position: absolute;
    top: -190px;
    right: 0;
    z-index: 1;
    border: 1px solid #4b4f50;
    transition: 250ms;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-align: left;
    background-color: var(--bs-dark);
    display: block;
    padding: 10px 12px;
}

.menu li a:hover {
    background-color: var(--bs-dark-grey);
    color: white;
}

.checkbox:checked ~ .menu {
    top: 48px;
}

.bg {
    text-align: center;
    padding: 10px;
    height: 90vh;
    background-size: cover;
    filter: blur(1px);
}

.bg-text {
    color: var(--main-color);
    font-weight: bold;
    border: 3px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.home {
    background-image: url(./images/bgimagecodeai.png);
    position: relative;
    z-index: -2;
}

.custom-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

section {
    margin: 10px;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.custom-section {
    padding: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    background-color: #dad8d8;
    margin: 20px auto;
    border-radius: 10px;
}

.card-container a {
    color: #2580db;
    transition: 0.3s;
}
.card-container a:hover {
    color: #464747;
}

.cb {
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}

.img-project {
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.card-text {
    font-family: 'Roboto', sans-serif;
}

#skillset>div {
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem;
}

#skillset>div>div {
    position: relative;
    display: flex;
    justify-content: center;
}

#skillset img {
    border-radius: 1rem;
    cursor: context-menu;
    max-width: 7rem;
}

.img-item {
    cursor: pointer;
}

span {
    font-size: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact a:hover{
    color: #2580db;
}

.social-networks{
    display: flex;
    margin-top: 15px;
    gap: 25px;
}

.fa-twitter {
    cursor: pointer;
    transition: 0.3s;
    color: var(--bs-dark);
}

.fa-twitter:hover {
    color: #2580db;
}

.fa-brands, .fab {
    font-size: 3em;
}

footer {
    background-color: rgba(var(--bs-dark-rgb), 1);
    padding: 20px 0;
    color: var(--main-color);
    margin-top: 40px;
}

@media (min-width: 500px){
    .card-container {
        max-width: 59%;
    }
    .bg-text {
        top: 51%;
    }
}

@media (min-width: 768px){
    .card-container {
        max-width: 45%;
    }
    .img-project{
        height: 330px;
    }
}

@media (min-width: 1024px){
    .card-container {
        max-width: 30%;
        margin: 0 auto;
    }
    .custom-section {
        display: flex;
        flex-direction: row;
    }
    .checkbox, .fi-rr-menu-burger, .fi-sr-cross {
        display: none;
    }
    .menu {
        display: flex;
        top: 0;
        right: 500px;
        z-index: 0;
        width: unset;
        height: 48px;
        border: none;
    }
    .navbar {
        display: flex;
    }
}

@media (max-width: 768px){
    #skillset>div {
        grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    }
    h2 {
        font-size: 1rem;
    }
}

@media (max-width: 320px){
    .bg-text {
        top: 55%;
    }
}