@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Libre+Barcode+39+Extended+Text&family=Open+Sans&family=Poppins&family=Roboto&display=swap');

:root {
    --main-color: #f1f1f1;
    --bs-dark: #212529;
}

body {
    margin: 0;
    background-color: lightgrey;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--bs-dark);
}

h2, h3, h4 {
    letter-spacing: .3rem;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 30px;
}

p{
    font-size: 1rem;
    padding: 0 10px;
}

.navbar-container {
    max-width: 100%;
}

.bg {
    text-align: center;
    padding: 10px;
    height: 90vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(2px);
}

.bg-text {
    color: var(--main-color);
    font-weight: bold;
    border: 3px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.home {
    background-image: url(./images/bgImage.jpg);
}

.custom-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

section {
    margin: 10px;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.custom-section {
    padding: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    background-color: #dad8d8;
    margin: 20px auto;
    border-radius: 10px;
}

.card-container a {
    color: #2580db;
    transition: 0.3s;
}
.card-container a:hover {
    color: #464747;
}


.cb {
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}

.img-project {
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.card-text {
    font-family: 'Roboto', sans-serif;
}

#skillset>div {
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem;
}

#skillset>div>div {
    position: relative;
    display: flex;
    justify-content: center;
}

#skillset img {
    border-radius: 1rem;
    cursor: context-menu;
    max-width: 7rem;
}

.img-item {
    cursor: pointer;
}

span {
    font-size: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact a:hover{
    color: #2580db;
}

.social-networks{
    display: flex;
    margin-top: 15px;
    gap: 25px;
}

.fa-twitter {
    cursor: pointer;
    transition: 0.3s;
}

.fa-twitter:hover {
    color: #2580db;
}

.fa-brands, .fab {
    font-size: 3em;
}

footer {
    background-color: rgba(var(--bs-dark-rgb), 1);
    padding: 20px 0;
    color: var(--main-color);
    margin-top: 40px;
}

@media (min-width: 500px){
    .card-container {
        max-width: 60%;
    }
}

@media (min-width: 768px){
    .card-container {
        max-width: 45%;
    }
    .img-project{
        height: 330px;
    }
}

@media (min-width: 992px){
    .card-container {
        max-width: 30%;
        margin: 0 auto;
    }
    .custom-section {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 768px){
    #skillset>div {
        grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    }
}